#File generati a runtime (Server)
apnea.db
apnea.log

#File di scambio FlexSim <-> Server 
/flexsim/live_alarm.txt
/flexsim/events.csv
/flexsim/response.txt
*.tmp

#Python
__pycache__/
*.pyc
.venv/
venv/

#Editor/OS 
.vscode/
.DS_Store
Thumbs.db

#FlexSim/SketchUp
*.bak
*.~*
~*.skp